.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: hsl(275, 100%, 97%);
    font-family: Work Sans;
    background-image: url("./assets/images/background-pattern-mobile.svg");
    background-repeat: no-repeat;
    width: 300px;
    font-size: 10px;
    }
.faq {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 10px;
    padding: 20px;
    margin: 140px 20px 50px 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}
.heading {
    display: flex;
    align-items: center;
}
.part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#star {
    height: 19px;
    margin-right: 10px;
}
.plus {
    height: 17px;
    float: right;  
}
.plus:hover {
    cursor: pointer;
    color: grey;
}
.request:focus {
    outline: none;
    color: hsl(292, 16%, 49%);
    border-radius: 5px;
  }
  
.request:hover {
    cursor: pointer;
    color: hsl(292, 16%, 49%)
}
@media (min-width: 600px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-image: url("./assets/images/background-pattern-desktop.svg");
    }
    .faq {
        border: 2px solid;
        margin-left: 100px;
        margin-right: 100px;
        max-width: 400px;
    }
}
